.footer {
  width: 100%;

  margin-top: 80px;

  background: linear-gradient(180deg, #17181d 0%, #111214 100%);

  color: white;

  border-top: 1px solid rgba(255, 255, 255, 0.08);

  box-shadow: 0 -8px 30px rgba(0, 0, 0, 0.15);

  overflow: hidden;

  padding: 100px;
}

/* ================= Container ================= */

.footer-container {
  max-width: 1450px;
  margin: auto;

  padding: 65px 60px 30px;
}

/* ================= Top ================= */

.footer-top {
  display: flex;

  justify-content: space-between;

  gap: 90px;
}

.footer-brand {
  flex: 1;
}

.footer-brand h2 {
  font-size: 42px;

  color: #ff3158;

  margin-bottom: 22px;

  font-weight: 800;
}

.footer-brand p {
  max-width: 520px;

  color: #c5c5c5;

  line-height: 1.9;

  font-size: 18px;
}

/* ================= Links ================= */

.footer-links {
  display: flex;

  gap: 90px;
}

.footer-links div {
  display: flex;

  flex-direction: column;
}

.footer-links h3 {
  margin-bottom: 20px;

  font-size: 22px;
}

.footer-links a {
  color: #bcbcbc;

  text-decoration: none;

  margin-bottom: 14px;

  transition: 0.3s;
}

.footer-links a:hover {
  color: #ff3158;

  transform: translateX(5px);
}

/* ================= Divider ================= */

.footer hr {
  border: none;

  height: 1px;

  background: rgba(255, 255, 255, 0.08);

  margin: 45px 0;
}

/* ================= Bottom ================= */

.footer-bottom {
  display: flex;

  justify-content: space-between;

  align-items: center;

  color: #999;

  font-size: 16px;
}

/* ================= Logo Animation ================= */

.footer-brand h2 {
  position: relative;

  overflow: hidden;
}

.footer-brand h2::after {
  content: "";

  position: absolute;

  top: 0;

  left: -80%;

  width: 60%;
  height: 100%;

  background: linear-gradient(
    120deg,
    transparent,
    rgba(255, 255, 255, 0.95),
    transparent
  );

  transform: skewX(-25deg);

  animation: footerShine 5s infinite;
}

@keyframes footerShine {
  0% {
    left: -80%;
  }

  40% {
    left: 140%;
  }

  100% {
    left: 140%;
  }
}

/* ================= Responsive ================= */

@media (max-width: 1100px) {
  .footer-top {
    flex-direction: column;
  }

  .footer-links {
    gap: 60px;

    flex-wrap: wrap;
  }

  .footer-bottom {
    flex-direction: column;

    gap: 15px;

    text-align: center;
  }

  .footer-container {
    padding: 50px 30px;
  }
}
